body {
    margin: 0;
}
.bucketPanel {
    width: 400px;
    padding: 10px;
}

.productRemoveBtn:hover {
    cursor: pointer;
}
.line {
    text-align: center;
}

.slider {
    margin: 23%;
}